<!-- Generated template for the VaseCardComponent component -->
<ion-card>
  <ion-card-content>
    <ion-card-title>
      Vaso {{vase.$key}}
    </ion-card-title>
    <ion-list>
      <ion-list-header>
        Condições atuais:
      </ion-list-header>
      <ion-item>
        <ion-icon name="thermometer" item-start></ion-icon>
        Temperatura: {{vase.temperature}}ºC
      </ion-item>
      <ion-item>
        <ion-icon name="sunny" item-start></ion-icon>
        Iluminação: {{vase.luminosity}}
      </ion-item>
      <ion-item>
        <ion-icon name="water" item-start></ion-icon>
        Umidade {{vase.humidity}}%
      </ion-item>
      <ion-item>
        <ion-label>Planta</ion-label>
        <ion-select [(ngModel)]="vase.profile_key" (ngModelChange)="updateCurrentProfile()">
          <ion-option *ngFor="let profile of profiles | async" [value]="profile.$key">{{profile.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="sunny" item-start></ion-icon>
        Iluminação min: {{vase.profile?.minLuminosity}}
      </ion-item>
      <ion-item>
        <ion-icon name="water" item-start></ion-icon>
        Umidade {{vase.profile?.minHumidity}}-{{vase.profile?.maxHumidity}}%
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
