<!-- Generated template for the VaseCardComponent component -->
<ion-card>
  <ion-card-content>
    <ion-card-title>
      Vaso {{vaseNumber}}
    </ion-card-title>
    <ion-item style="font-size: 1.35em">
        <ion-label>Planta</ion-label>
        <ion-select [(ngModel)]="vase.profile_key" (ngModelChange)="updateCurrentProfile()">
          <ion-option *ngFor="let profile of profiles | async" [value]="profile.$key">{{profile.name}}</ion-option>
        </ion-select>
      </ion-item>
    <ion-list>
      <ion-list-header>
        Condições atuais:
      </ion-list-header>
      <ion-item>
        <ion-icon name="thermometer" color="danger" item-start></ion-icon>
        Temperatura: {{vase.data[vase.last_data_position].temperature}}ºC
      </ion-item>
      <ion-item>
        <ion-icon color="assertive" name="sunny" item-start></ion-icon>
        Iluminação: {{vase.data[vase.last_data_position].luminosity}}
      </ion-item>
      <ion-item>
        <ion-icon name="water" color="secondary" item-start></ion-icon>
        Umidade {{vase.data[vase.last_data_position].humidity}}%
      </ion-item>
      <ion-list-header>
        Condições ideais:
      </ion-list-header>
      <ion-item>
        <ion-icon name="thermometer" color="danger" item-start></ion-icon>
        Temperatura {{(currentProfile | async)?.minTemperature}}-{{(currentProfile | async)?.maxTemperature}}%
      </ion-item>
      <ion-item>
        <ion-icon name="sunny" color="assertive" item-start></ion-icon>
        Iluminação min: {{(currentProfile | async)?.minLuminosity}}
      </ion-item>
      <ion-item>
        <ion-icon color="secondary" name="water" item-start></ion-icon>
        Umidade {{(currentProfile | async)?.minHumidity}}-{{(currentProfile | async)?.maxHumidity}}%
      </ion-item>
    </ion-list>
    <button ion-button clear color="secondary" item-end (click)="details()">Detalhes</button>
  </ion-card-content>
</ion-card>
